<div class="body">
  <div class="container">
    <form class="col-md-6 col-md-offset-3" [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm)">
      <h3>Ny opskrift</h3>
        <label for="title">Navn:</label>
        <input type="text"
               id="title"
               placeholder="Navn på opskrift"
               class="form-control form-input"
               [formControl]="recipeForm.controls['recipeTitle']"

        >

        <label for="procedure">Fremgangsmåde:</label>
        <textarea rows="10" cols="50"
               id="procedure"
                  placeholder="Beskrivelse af hvordan opskriften skal laves..."
               class="form-control form-input"
                  [formControl]="recipeForm.controls['recipeProcedure']"
        ></textarea>

        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of recipeForm.controls.ingredients.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Ingredient {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" *ngIf="recipeForm.controls.ingredients.controls.length > 1" (click)="removeIngredient(i)"></span>
            </div>

            <div class="panel-body" [formGroupName]="i">
              <!-- Amount-->
              <div class="form-group col-xs-5">
                <label>mængde</label>
                <input type="text" class="form-control" placeholder="f.eks. 100 gr, 1 l, 10 dl"  formControlName="amount">
              </div>

              <!-- Ingredient -->
              <div class="form-group col-xs-5">
                <label>ingredient</label>
                <input type="text" class="form-control" placeholder="f.eks. mel, hakkekød, smør" formControlName="name">
              </div>

              <div class="col-xs-2" style="margin-top: 23px">
                <span (click)="addIngredient()" class="btn btn-primary">+</span>
              </div>

            </div>

          </div>

        </div>

        <label for="category">Kategori:</label>
        <select id="category" class="form-control form-input" [formControl]="recipeForm.controls['recipeCategory']">
          <option *ngFor="let category of categories" [value]="category._id">{{category.title}}</option>
        </select>

        <label for="tags">Tags:</label>
        <input type="text"
               id="tags"
               placeholder="f.eks. hakkekød, mozarella, guacamole"
               class="form-control form-input"
               [formControl]="recipeForm.controls['recipeTags']"

        >

        <label for="amountPersons">Antal personer:</label>
        <input type="text"
               id="amountPersons"
               placeholder="Hvor mange personer er denne opskrift tilegnet?"
               class="form-control form-input"
               [formControl]="recipeForm.controls['recipeAmountPersons']"

        >

        <label for="picture">Billede:</label>
        <input type="text"
               id="picture"
               class="form-control form-input"
               [formControl]="recipeForm.controls['recipePicture']"

        >

        <button type="submit" class="btn btn-success pull-right">Gem opskrift</button>

    </form>



  </div>
</div>
