<div class="body">
  <div class="container">
    <form class="col-md-6 col-md-offset-3" [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm)">
      <div class="row">
        <label for="title">Navn:</label>
        <input type="text"
               id="title"
               placeholder="Navn på opskrift"
               class="form-control"
               [formControl]="recipeForm.controls['recipeTitle']"

        >

        <label for="procedure">Fremgangsmåde:</label>
        <textarea rows="4" cols="50"
               id="procedure"
               class="form-control"
                  [formControl]="recipeForm.controls['recipeProcedure']"
        ></textarea>

        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of recipeForm.controls.ingredients.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Ingredient {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" *ngIf="recipeForm.controls.ingredients.controls.length > 1" (click)="removeIngredient(i)"></span>
            </div>

            <div class="panel-body" [formGroupName]="i">
              <!-- Amount-->
              <div class="form-group col-xs-6">
                <label>mængde</label>
                <input type="text" class="form-control" placeholder="f.eks. 100 gr, 1 l, 10 dl"  formControlName="amount">
              </div>

              <!-- Ingredient -->
              <div class="form-group col-xs-6">
                <label>Ingredient</label>
                <input type="text" class="form-control" placeholder="f.eks. mel, hakkekød, smør" formControlName="ingredient">
              </div>
            </div>

          </div>

          <a (click)="addIngredient()" style="cursor: default">
            Tilføj ingredient +
          </a>
        </div>

        <label for="category">Kategori:</label>
        <select id="category" class="form-control" [formControl]="recipeForm.controls['recipeCategory']">
          <option *ngFor="let category of categories" [value]="category._id">{{category.title}}</option>
        </select>

        <label for="tags">Tags:</label>
        <input type="text"
               id="tags"
               placeholder="f.eks. hakkekød, mozarella, guacamole"
               class="form-control"
               [formControl]="recipeForm.controls['recipeTags']"

        >

        <label for="amountPersons">Antal personer:</label>
        <input type="text"
               id="amountPersons"
               class="form-control"
               [formControl]="recipeForm.controls['recipeAmountPersons']"

        >

        <label for="picture">Billede:</label>
        <input type="text"
               id="picture"
               class="form-control"
               [formControl]="recipeForm.controls['recipePicture']"

        >

        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </form>



  </div>
</div>
